extends layout

block content
  h1= title
  p Willkommen in der Auswertungsansicht der Badegewässer Reporte

  h1 Übersicht der Daten

  if error
    p Error getting dynamic content.
  else
    p Das Reportingsystem besitzt derzeit folgende Einträge:

    ul
      li #[strong Reporte:] !{data.report_count} 
      li #[strong Badestellen:] !{data.bathingspot_count}
      li #[strong Kategorien:] !{data.category_count}