extends user_layout

block content
  h1= title
  
  p Ihr Report wurde erfolgreich versendet. Vielen Dank!
  p
    a(href="http://www.badegewaesser-berlin.de") Zurück zur Webanwendung "Berliner Badestellen"
  p
    a(href='/user/report/create') Weiteren Report verfassen